@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;700&family=Josefin+Slab:wght@400;700&family=Mulish:wght@400;700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --font-primary: "Baloo Da 2", sans-serif;
  --font-secondary: "Josefin Slab", sans-serif;
  --font-action: "Mulish", sans-serif;
}

html{
  scroll-behavior: smooth;
}

.hamburguer {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.7s;
}

.show-menu .hamburguer {
  right: 16rem;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1px #000;
  transition: transform 0.7s;
}

.show-menu #line1 {
  transform: rotate(45deg) translate(0.9rem, 0.45rem);
}

.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3 {
  transform: rotate(-45deg) translate(0.6rem, -0.45rem);
}

.hamburguer span {
  position: absolute;
  left: 4rem;
  height: 2rem;
  width: 6rem;
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  color: #fff;
  font-family: var(--font-action);
  opacity: 0;
}

.hamburguer span::before {
  content: "";
  position: absolute;
  border-right: 1rem solid blueviolet;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 0.5rem solid transparent;
  left: -1rem;
}

.show-menu .hamburguer:hover span {
  opacity: 1;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 25s;
}

@keyframes zoom {
  0% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  position: absolute; /* para ele funcionar o elemento em que ele estiver dentro tem que ter o position relative */
  top: 30%;
  left: 15%;
}

.banner h1 {
  color: #fff;
  font-size: 3.5rem;
  font-family: var(--font-primary);
  font-weight: lighter;
  text-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.4);
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
  opacity: 0;
  animation: moveBanner 0.5s forwards;
}

.banner p {
  font-family: var(--font-secondary);
  color: #fff;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  margin-bottom: 1.5rem;
  opacity: 0;
  animation: moveBanner 0.7s forwards;
}

.banner button {
  font-family: var(--font-action);
  color: #fff;
  text-transform: uppercase;
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 0.9s forwards;
}

@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(0.3deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 0.7s;
  z-index: 1; /* serve para colocar o menu lateral por cima de todo o conteudo da pagina*/
}

.show-menu .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}

.menu-link {
  font-family: var(--font-action);
  color: #555;
  font-size: 2rem;
  transition: color 1s;
}

.menu-link:hover {
  color: blueviolet;
}

.social-media {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.social-media i {
  color: black;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: opacity 1s;
}

.social-media i:hover {
  opacity: 0.5;
}

.conhecimentos {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  row-gap: 0.5rem;
}

.conhecimento:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}

.conhecimento:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}

.conhecimento:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
}

.conhecimento:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
}

.conhecimento:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
}

.conhecimento:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;
}

.sessao-conhecimentos {
  background-color: #f5f5f5;
}

.sessao-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessao-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #4b4b4b;
  border-bottom: 3px solid blueviolet;
  margin-bottom: 2rem;
}

.conhecimento-header {
  display: flex;
  align-items: center;
  color: #4b4b4b;
}

.conhecimento-header i {
  font-size: 2.5rem;
}

.conhecimento-header h3 {
  font-family: var(--font-secondary);
  font-size: 2rem;
  padding-left: 1rem;
}

.conhecimento-text {
  font-family: var(--font-secondary);
  margin-top: 1rem;
}

.conhecimentos-img-wrapper {
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  width: 100%;
}

.conhecimentos-img-wrapper img {
  object-fit: cover;
  width: 100%;
}

.sessao-projetos {
  background-color: #f5f5f5;
}

.projetos {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 20rem;
  height: 30rem;
  position: relative;
  line-height: 2.2rem;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 1rem;
}

.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  opacity: .8;
  transition: opacity .3s;
}

.card:hover .card-img-wrapper img{
    opacity: .3;
}

.card-info {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.card-info h2 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.5rem;
  color: #eee;
}

.card-info h3 {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 1rem;
  color: #ed522c;
}

.card-info p {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 1.5rem;
  color: #eee;
  text-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
}

.btn{
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: var(--font-action);
  font-size: 1rem;
  padding: .4rem;
  color: #eee;
  border-radius: .2rem;
  border: none;
  box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
  cursor: pointer;
  outline: none;
}

.card-info buttom {
  width: 8rem;
  height: 2.5rem;
}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

.sessao-contato {
  width: 100%;
  height: 100vh;
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contato-wrapper{
  width: 60%;
  height: 35rem;
  display: flex;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, .5);
}

.contato-left{
  width: 35%;
  background: linear-gradient(rgba(15,15,15,0.6), rgba(22,22,22,0.9)),
  url(imagens/envelope.jpg);
  background-size: cover;
}

.contato-right{
  width: 65%;
  background-color: #eee;
  padding: 2rem;
}

.sessao-contato h1{
  width: 100%;
  text-align: center;
  font-family: var(--font-primary);
  color: #272727;
  font-size: 3rem;
  font-weight: lighter;
}

.sessao-contato form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group{
  position: relative;
}

.field{
  background-color: transparent;
  border: none;
  width: 20rem;
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  border-bottom: 2px dashed #636363;
  height: 3rem;
  outline: none;
  margin: 1rem 0;
}

.input-group textarea{
  padding-top: 1rem;
  max-width: 30rem;
  max-height: 9rem;
  min-width: 20rem;
  min-height: 5rem;
}

.field-label{
  position: absolute;
  left: 0;
  top: 2rem;
  font-size: 1.2rem;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  transition: all .3s;
}

.field:focus ~ label{
  top: 0;
  font-size: 1rem;
}

.field:focus {
  border-bottom: 1px solid;
}

.btn-submit{
  margin-top: 2rem;
}

.sessao-orcamento{
  width: 100%;
  height: 100vh;
  background: url(imagens/orcamento.jpg);
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orcamento-wrapper{
  width: 60%;
  height: 80%;
  background-color: #ffffff99;
  border-radius: 10px;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .5);
  position: relative;
}

.sessao-orcamento h1{
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: .3rem 1rem;
  color: #fff;
  font-family: var(--font-primary);
  font-size: 2.5rem;
  font-weight: lighter;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .5);
  border-radius: .5rem; 
}

.sessao-orcamento form{
  margin: 4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  row-gap: 3rem;
}

.sessao-orcamento label{
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  font-weight: bold;

}

.sessao-orcamento input[type="number"]{
  font-family: var(--font-secondary);
  font-size: 2rem;
  width: 4rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-top: .3rem;
}

.btn-orcamento{
  padding: 1rem;
  grid-column: 2;
}

footer{
  width: 100%;
  height: 6rem;
  background-color: #17181b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.footer-content p{
  font-family: var(--font-secondary);
  color: #a7a7a7;
  font-size: 1.2rem;
}

.social-list a{
  margin: 0 2rem;
  color: #a7a7a7;
  font-size: 1.3rem;
}

.social-list ul{
  display: flex;
}

#link-topo{
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 .1rem .6rem #00000009;
}
