@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;700&family=Josefin+Slab:wght@400;700&family=Mulish:wght@400;700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --font-primary: "Baloo Da 2", sans-serif;
  --font-secondary: "Josefin Slab", sans-serif;
  --font-action: "Mulish", sans-serif;
}

.hamburguer {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.7s;
}

.show-menu .hamburguer {
  right: 16rem;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1px #000;
  transition: transform 0.7s;
}

.show-menu #line1 {
  transform: rotate(45deg) translate(0.9rem, 0.45rem);
}

.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3 {
  transform: rotate(-45deg) translate(0.6rem, -0.45rem);
}

.hamburguer span {
  position: absolute;
  left: 4rem;
  height: 2rem;
  width: 6rem;
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  color: #fff;
  font-family: var(--font-action);
  opacity: 0;
}

.hamburguer span::before {
  content: "";
  position: absolute;
  border-right: 1rem solid blueviolet;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 0.5rem solid transparent;
  left: -1rem;
}

.show-menu .hamburguer:hover span {
  opacity: 1;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 25s;
}

@keyframes zoom {
  0% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  position: absolute; /* para ele funcionar o elemento em que ele estiver dentro tem que ter o position relative */
  top: 30%;
  left: 15%;
}

.banner h1 {
  color: #fff;
  font-size: 3.5rem;
  font-family: var(--font-primary);
  font-weight: 400;
  text-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.4);
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
  opacity: 0;
  animation: moveBanner 0.5s forwards;
}

.banner p {
  font-family: var(--font-secondary);
  color: #fff;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  margin-bottom: 1.5rem;
  opacity: 0;
  animation: moveBanner 0.7s forwards;
}

.banner button {
  font-family: var(--font-action);
  color: #fff;
  text-transform: uppercase;
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 0.9s forwards;
}

@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(0.3deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 0.7s;
}

.show-menu .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}

.menu-link {
  font-family: var(--font-action);
  color: #555;
  font-size: 2rem;
  transition: color 1s;
}

.menu-link:hover {
  color: blueviolet;
}

.social-media {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.social-media i {
  color: black;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: opacity 1s;
}

.social-media i:hover {
  opacity: 0.5;
}

.conhecimentos {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  row-gap: 0.5rem;
}

.conhecimento:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}

.conhecimento:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}

.conhecimento:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
}

.conhecimento:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
}

.conhecimento:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
}

.conhecimento:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;
}

.sessao-conhecimentos {
  background-color: #f5f5f5;
}

.sessao-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessao-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #4b4b4b;
  border-bottom: 3px solid blueviolet;
  margin-bottom: 2rem;
}

.conhecimento-header {
  display: flex;
  align-items: center;
  color: #4b4b4b;
}

.conhecimento-header i {
  font-size: 2.5rem;
}

.conhecimento-header h3 {
  font-family: var(--font-secondary);
  font-size: 2rem;
  padding-left: 1rem;
}

.conhecimento-text {
  font-family: var(--font-secondary);
  margin-top: 1rem;
}

.conhecimentos-img-wrapper {
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  width: 100%;
}

.conhecimentos-img-wrapper img {
  object-fit: cover;
  width: 100%;
}

.sessao-projetos {
  background-color: #f5f5f5;
}

.projetos {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 20rem;
  height: 30rem;
  position: relative;
  line-height: 2.2rem;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 1rem;
}

.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  opacity: .8;
  transition: opacity .3s;
}

.card:hover .card-img-wrapper img{
    opacity: .3;
}

.card-info {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.card-info h2 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.5rem;
  color: #eee;
}

.card-info h3 {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 1rem;
  color: #ed522c;
}

.card-info p {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 1.5rem;
  color: #eee;
  text-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
}

.card-info buttom {
  width: 8rem;
  height: 2.5rem;
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: var(--font-action);
  font-size: 1rem;
  padding: .4rem;
  color: #eee;
  border-radius: .2rem;
  border: none;
  box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}
